@using Homefind.Web.Models.AccountViewModels;
@model RegisterViewModel
<!-- Page Banner Start -->
<div id="page-banner-area" class="page-banner">
    <div class="page-banner-title">
        <div class="text-center">
            <h2>Register</h2>
            <a href="#"><i class="lni-home"></i> Home</a>
            <span class="crumbs-spacer"><i class="lni-chevron-right"></i></span>
            <span class="current">Register</span>
        </div>
    </div>
</div>
<!-- Page Banner End -->
<!-- Content section Start -->
<section id="content" class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6 col-xs-12">
                <div class="page-login-form box">
                    <h3>
                        Create Your account
                    </h3>
                    <form class="login-form" asp-controller="Account" asp-action="Register">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" asp-for="Username" class="form-control" placeholder="Your name" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Your email" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                            </div>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" required>
                        </div>
                        <button type="submit" class="btn btn-common log-btn mt-3">Register</button>
                        <p class="text-center">Already have an account?<a href=@Url.Action("Login", "Account")> Sign In</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section End -->

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
