@using Microsoft.AspNetCore.Identity
@using Homefind.Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="header-top-right float-right">
        <form method="post">
            <div class="dropdown show">
                <a class="header-top-button white-bg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>  @((await UserManager.GetUserAsync(User)).DisplayName)
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-action="Dashboard" asp-controller="Profile">My Profile</a>
                    <button type="submit" class="btn btn-link profile-link-logout dropdown-item" asp-controller="Account" asp-action="Logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <div class="header-top-right float-right">
        <a class="header-top-button" asp-controller="Account" asp-action="Login">Log In</a>
        <a class="header-top-button white-bg" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
}
