@using Microsoft.AspNetCore.Identity
@using Homefind.Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="header-top-right float-right">
        <form method="post">
            <a class="header-top-button" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            <input type="submit" class="header-top-button" asp-controller="Account" asp-action="Logout" value="Logout" />
        </form>
    </div>
}
else
{
    <div class="header-top-right float-right">
        <a class="header-top-button" asp-controller="Account" asp-action="Login">Log In</a>
        <a class="header-top-button white-bg" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
}
