@using Homefind.Infrastructure.Identity;
@using Microsoft.AspNetCore.Identity;
@using Homefind.Web.Models.ProfileViewModels;

@inject UserManager<ApplicationUser> UserManager

@model UserViewModel
<!-- Page Banner Start -->
<div id="page-banner-area" class="page-banner">
    <div class="page-banner-title">
        <div class="text-center">
            <h2>Profile</h2>
            <a href="#"><i class="lni-home"></i> Profile</a>
            <span class="crumbs-spacer"><i class="lni-chevron-right"></i></span>
            <span class="current">Info</span>
        </div>
    </div>
</div>
<!-- Page Banner End -->
<!-- Ueser Section Start -->
<section class="user-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="user-profile-box">
                    <!--header -->
                    <div class="header clearfix">
                        <h2>@User.Identity.Name</h2>
                        <h4>Real Estate Agent</h4>
                        <img src="~/assets/img/avatar/profile-anonimous.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a asp-controller="Profile" asp-action="Dashboard">
                                    <i class="lni-files"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="MyProfile" class="active">
                                    <i class="lni-user"></i>Profile
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="MyFavourites">
                                    <i class="lni-heart"></i>Favorited Properties
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Property" asp-action="Submit">
                                    <i class="lni-plus"></i>Submit New Property
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-xs-12">
                <div class="my-address">
                    <h3 class="heading">My Account</h3>
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <label>Your Name</label>
                                    <input asp-for="Name" type="text" class="form-control" placeholder="@((await UserManager.GetUserAsync(User)).DisplayName)">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Your Title</label>
                                    <input asp-for="UserType" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="@((await UserManager.GetUserAsync(User)).PhoneNumber)">
                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input asp-for="Email" type="email" class="form-control" placeholder="@((await UserManager.GetUserAsync(User)).Email)">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea class="form-control" rows="5" name="message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="send-btn">
                                    <button type="submit" asp-action="UpdateProfile" asp-controller="Profile" class="btn btn-common">Send Changes</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ueser Section End -->